@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import 'tailwindcss';

@theme {
  /* ─── Breakpoint ─────────────────────────────────────────── */
  --breakpoint-3xl: 120rem;

  /* ─── Fonts ─────────────────────────────────────────── */
  --font-sans: 'Calibri', ui-sans-serif, system-ui, sans-serif;
  --font-narrow: 'Oswald', 'Arial Narrow', ui-sans-serif, sans-serif;

  /* ─── Colors ─────────────────────────────────────────── */
  --color-primary: #141b25;
  --color-charcoal: #434850;
  --color-sky: #eef7fe;
  --color-green: #31aa68;
  --color-blue: #217ec7;
  --color-yellow: #f6d52d;
  --color-rose: #f33847;
  --color-red: #ff0000;
  --color-dark-blue: #005292;
}

.stripes {
  @apply flex items-center flex-1;
}

.stripe {
  @apply h-2 flex-1 sm:h-4;
}

.nav-link {
  @apply block py-1 px-2 rounded-md text-lg 
         hover:bg-white hover:text-blue 
         focus:bg-white focus:text-blue 
         active:bg-white active:text-blue 
         sm:text-lg xl:text-sm 2xl:text-lg 3xl:text-xl;
}

.active {
  @apply bg-white text-blue;
}

.card {
  @apply flex flex-col justify-between items-center rounded-2xl gap-3 p-4 bg-white 3xl:gap-6;
}

.card-btn {
  @apply block text-center text-lg py-2 px-4 w-full rounded-xl bg-blue text-white sm:text-2xl md:text-lg md:h-18 md:flex md:items-center md:justify-center lg:h-auto xl:text-2xl;
}

.motto {
  @apply text-center px-5 py-2 sm:text-xl sm:font-bold sm:px-8 sm:py-4 md:px-10 md:py-2 md:text-lg lg:px-12 lg:text-2xl xl:text-3xl xl:px-16 2xl:px-20 2xl:py-4 3xl:px-24 3xl:py-6 3xl:text-5xl;
}

.slider-prev-btn {
  @apply absolute left-2 top-1/2 -translate-y-1/2 z-20 bg-sky hover:bg-blue text-blue hover:text-sky size-10 p-3 flex items-center justify-center rounded-full lg:left-5 xl:left-8 xl:size-15 2xl:size-18;
}

.slider-next-btn {
  @apply absolute right-2 top-1/2 -translate-y-1/2 z-20 bg-sky hover:bg-blue text-blue hover:text-sky size-10 p-3 flex items-center justify-center rounded-full lg:right-5 xl:right-8 xl:size-15 2xl:size-18;
}

.sports-slider-card {
  @apply relative w-full h-auto overflow-hidden shrink-0 px-6 py-4 sm:text-left sm:px-16 sm:py-8 lg:px-20 lg:py-16 xl:px-28 2xl:px-36 2xl:py-32;
}

.sports-slider-card img {
  @apply absolute inset-0 w-full h-full object-cover;
}

.sports-slider-card .gradient-overlay {
  @apply absolute inset-0 bg-linear-to-b from-blue to-black/70 sm:bg-linear-to-r sm:from-blue sm:to-transparent sm:from-40%;
}

.sports-slider-card .content {
  @apply relative z-10 h-full flex flex-col justify-center items-center text-center sm:text-left sm:items-start;
}

.sports-slider-card h4 {
  @apply text-lg font-bold sm:text-2xl md:text-3xl lg:text-4xl xl:text-5xl 2xl:text-7xl;
}

.sports-slider-card p {
  @apply text-sm w-60 sm:text-lg sm:w-full md:text-xl lg:text-2xl xl:text-3xl 2xl:text-4xl;
}

.sports-slider-card button {
  @apply mt-5 cursor-pointer bg-white hover:bg-blue text-blue hover:text-white px-3 py-1 text-lg rounded-xl sm:mt-8 sm:w-50 md:text-xl md:py-2 lg:mt-12 xl:mt-16 xl:px-5 xl:py-3 xl:text-2xl xl:w-70 2xl:mt-36 2xl:text-3xl 2xl:w-90;
}

@layer utilities {
  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hidden {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
