@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import 'tailwindcss';

@theme {
  /* ─── Breakpoint ─────────────────────────────────────────── */
  --breakpoint-3xl: 120rem;

  /* ─── Fonts ─────────────────────────────────────────── */
  --font-sans: 'Calibri', ui-sans-serif, system-ui, sans-serif;
  --font-narrow: 'Oswald', 'Arial Narrow', ui-sans-serif, sans-serif;

  /* ─── Colors ─────────────────────────────────────────── */
  --color-primary: #141b25;
  --color-charcoal: #434850;
  --color-sky: #eef7fe;
  --color-green: #31aa68;
  --color-blue: #217ec7;
  --color-yellow: #f6d52d;
  --color-rose: #f33847;
  --color-red: #ff0000;
  --color-dark-blue: #005292;
}

.stripes {
  @apply flex items-center flex-1;
}

.stripe {
  @apply h-2 flex-1 sm:h-4;
}

.nav-link {
  @apply block py-1 px-2 rounded-md text-lg 
         hover:bg-white hover:text-blue 
         focus:bg-white focus:text-blue 
         active:bg-white active:text-blue 
         sm:text-lg xl:text-sm 2xl:text-lg 3xl:text-xl;
}

.active {
  @apply bg-white text-blue;
}

.card {
  @apply flex flex-col justify-between items-center rounded-2xl gap-3 p-4 bg-white 3xl:gap-6;
}

.card-btn {
  @apply block text-center text-lg py-2 px-4 w-full rounded-xl bg-blue text-white sm:text-2xl md:text-lg md:h-18 md:flex md:items-center md:justify-center lg:h-auto xl:text-2xl;
}

.motto {
  @apply text-center px-5 py-2 sm:text-xl sm:font-bold sm:px-8 sm:py-4 md:px-10 md:py-2 md:text-lg lg:px-12 lg:text-2xl xl:text-3xl xl:px-16 2xl:px-20 2xl:py-4 3xl:px-24 3xl:py-6 3xl:text-5xl;
}

@layer utilities {
  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hidden {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
